---
- name: Check for installed rubies
  shell: rbenv versions --bare | grep {{ item }}
  register: installed_rubies
  with_items: rbenv_versions
  ignore_errors: true

- name: Install ruby versions using rbenv
  shell: rbenv install {{ item }}
  with_items: rbenv_versions
  when: "item not in installed_rubies.results|map(attribute='stdout')"

